<% class_value = "" %>
<% if portfolio.new_record? %>
  <% class_value = "new-form"%>
<% else %>
  <% class_value = "edit-form"%>
<% end %>

<%= form_for [portfolio, portfolio_image] , :url => 'http://api2.transloadit.com/assemblies',
        :html => {:class=>"uniForm  ajaxform cv-section-form #{class_value}" , 
                  :id => "new_portfolio_image_form", :multipart => true} do |f| %>
  <input type="hidden" name="params" 
      value="<%= transloadit_value_portfolio_json(portfolio, portfolio_image) %>" />
  <fieldset class="inlineLabels">

    
    <div class="ctrlHolder">
      <%= f.label :image_url , "Upload main picture"%>
      <%= f.file_field :image_url, :size => "35", :class => "fileUpload"%>
    </div>
    
    <div class="buttonHolder"><button type="submit" class="primaryAction">Submit</button></div>
  </fieldset>

<% end %>




<script type="text/javascript">
var tlProtocol = (('https:' == document.location.protocol) ? 'https://' : 'http://');
document.write(unescape("%3Cscript src='" + tlProtocol + "assets.transloadit.com/js/jquery.transloadit2.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
   // We call .transloadit() after the DOM is initialized:
   jQuery(document).ready(function() {
     jQuery('#new_portfolio_image_form').transloadit({wait: true});
   });
</script>




