
<% content_for :head  do %>
  <%#= stylesheet_link_tag "css.easyslider"%>
  <%= javascript_include_tag "jquery.insetBorderEffect.min"%>
  <script type="text/javascript">
  $(document).ready(function(){
    $('#portfolio .portfolio-item img').insetBorder({
  	  inset : 10,
  	  borderColor : '#fff',
  	  speed : 250,
  	  borderType : 'solid'
  	});
  });
  </script>
<% end %>  

<div class="portfolio-index-wrapper cv-section">
  <div class="super-actions" >
    <a class="action-button add" href="#">add</a>
    <a class="action-button cancel hidden" href="#">cancel</a>
  </div>
  
  
  <h2 class="title">Portfolios</h2>	
  
  <%= render :partial => "portfolio_form", :locals => {:portfolio => @portfolio, :user => current_user} %>
  
  
  <div id="portfolio">
    <% @portfolios.each do |portfolio| %>
      <%= render :partial => "portfolio_entry", :locals => {
        :portfolio => portfolio
            }%>
    <% end %>
    
    <% if @portfolios.count == 0 %>
    <h1>Anda belum memiliki portfolio sama sekali</h1>
    <h1><a href="#" class="first-portfolio">Buat portfolio pertama anda</a></h1>
    <% end %>

  </div><!-- end #portfolio -->


  
</div> <!-- portfolio wrapper -->