
<% content_for :head  do %>
  <%#= stylesheet_link_tag "css.easyslider"%>
  <%= javascript_include_tag "jquery.insetBorderEffect.min"%>
  <script type="text/javascript">
  $(document).ready(function(){
    $('#portfolio .portfolio-item img').insetBorder({
  	  inset : 10,
  	  borderColor : '#fff',
  	  speed : 250,
  	  borderType : 'solid'
  	});
  });
  </script>
<% end %>  

<div class="portfolio-index-wrapper cv-section">
  <div class="super-actions" >
    <a class="action-button add" href="#">add</a>
    <a class="action-button cancel hidden" href="#">cancel</a>
  </div>
  
  
  <h2 class="title">Portfolio</h2>	
  
  <%= render :partial => "portfolio_form", :locals => {:portfolio => @portfolio, :user => current_user} %>
  
  
  <div id="portfolio">
    <% @portfolios.each do |portfolio| %>
      <%= render :partial => "portfolio_entry", :locals => {
        :portfolio => portfolio
            }%>
    <% end %>
    
    <!-- <div class="col-1 portfolio-pagination fixed">
      <ul>
        <li><a href="#">&laquo; Prev</a></li>
        <li><a href="#" class="active">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li><a href="#">Next &raquo;</a></li>
      </ul>
    </div> --><!-- end portfolio-pagination -->

  </div><!-- end #portfolio -->


  
</div> <!-- portfolio wrapper -->