<li class="cv-item fixed" id="education-1">

	<h4 class="appendix">hahaha</h4>
	
  <div class="cv-item-content">
    <h2>SecondSkin</h2>
    <h3>Asisten Manager</h3>


    <p>
      Anda akan bekerja langsung bersama manager dalam menganalisa data untuk menentukan arah kebijakan perusahaan.
    </p>


  </div>	
  

</li>


<li class="cv-item fixed" id="education-2">

	<h4 class="appendix">hahaha</h4>
	
  <div class="cv-item-content">
    <h2>Indofood</h2>
    <h3>Data Entry Intern</h3>


    <p>
      Tugas anda adalah memasukkan data penjualan ke dalam sistem management informasi, dan membuat laporan kesimpulan.
    </p>


  </div>	
  

</li>