<div id="cropperContainer">
  <div id="cropImageWrapper">
    <%= image_tag resource.profile_pic, :id => "cropbox" %>  
  </div>


  <%= form_for resource, :url => crop_profile_image_url , :html => {:class => "uniForm"} do |f| %>
    <% for attribute in [:crop_x, :crop_y, :crop_w, :crop_h] %>  
      <%= f.hidden_field attribute, :id => attribute %>  
    <% end %>  

    <fieldset>
      <div class="buttonHolder"><button type="submit" class="primaryAction">Crop</button></div>
    </fieldset>
  <% end %>
</div>





