<div class="cv-section col-1 fixed">

	<h2 class="cv-section-name">Profesional Profile</h2>
	
	<ul class="cv-section-items">
	  <%= render :partial => "about_me_entry" , :locals => {:profile => @profile}%>
	</ul><!-- end .cv-section-items -->
	
	<% if can_edit?(@profile)%>
  	<%= render :partial => "about_me_form" %>
	
  	<div class="actions">
      <a href="#" class="action-button edit">edit</a>
      <a href="#" class="action-button cancel hidden">cancel</a>
    </div>
  <% end %>

</div><!-- end .cv-section -->
