<div class="cv-section col-1 fixed">

	<h2 class="cv-section-name">Profesional Profile</h2>
	
	<ul class="cv-section-items">
	
		<li class="cv-item">
			<p>Pellentesque sollicitudin congue diam, et gravida leo posuere at. Nunc fermentum erat at diam convallis
			 vel porttitor purus congue. Proin blandit, odio ac aliquet fermentum, lectus est dictum nisl, ac elementum
			 dui ante et ipsum. Nulla congue fermentum dictum.</p>

			<p>Cum sociis natoque penatibus et magnis dis parturient
			 montes, nascetur ridiculus mus. Integer ac tristique enim. Nunc fringilla, enim vel accumsan tincidunt,
			 lacus turpis vestibulum nibh, vel mattis ante diam ut nisl. Sed sit amet mauris justo.</p>
		</li>
		
	</ul><!-- end .cv-section-items -->
	<div class="actions">
    <a href="#" class="action-button">edit</a>
  </div>

</div><!-- end .cv-section -->
