<%= form_for @profile , :html => {:id => "about-me-form" , :class => "ajaxform uniForm hidden cv-section-form" } do |f| %>
  <input id="about_me_update" name="about_me_update" type="hidden" value="VUBJKB23UIVI1UU1VOBVI@" />
  <fieldset class="inlineLabels">
    <div class="ctrlHolder">
      <%= f.label :description , "Tentang anda"%>
      <%= f.text_area :description, :rows => "25", :cols => "25"%>
      <p class="formHint">Fill some personal information about yourself.</p>
    </div>

    <div class="buttonHolder">
      <button type="submit" class="primaryAction">Submit</button>
    </div>
  </fieldset>
<% end %>

