<div class="cv-section last col-1 fixed">

	<h2 class="cv-section-name">Education</h2>
	<% if can_edit?(@profile)%>
  	<%= render :partial => "education_form", :locals => {:education => @education, :profile => @profile}%>
	<% end %>
	<ul class="cv-section-items" id="educations">
	  <% if can_edit?(@profile) %>
  	  <% current_user.educations.order("created_at DESC").each do |education| %>
  	    <%= render :partial => "education_entry" , :locals => {:education => education, :profile => @profile} %>
  	  <% end%>
	  <% else %>
	    <% @user.educations.order("created_at DESC").each do |education| %>
  	    <%= render :partial => "education_entry" , :locals => {:education => education, :profile => @profile} %>
  	  <% end%>
	  <% end %>
	
	</ul><!-- end .cv-section-items -->
	<% if can_edit?(@profile) %>
    <div class="super-actions">
      <a href="#" class="action-button add">add</a>
      <a href="#" class="action-button cancel hidden">cancel</a>
    </div>
  <% end %>
</div><!-- end .cv-section -->
