	<div class="cv-section col-1 fixed">
	
		<h2 class="cv-section-name">Personal Details</h2>

		
		<ul class="cv-section-items">
			
      <!-- <li class="cv-item">
        <span class="topic">Name:</span>         
        John Smith
      </li> -->
			<li class="cv-item">
				<span class="topic">Tanggal Lahir:</span>
				1st May 1990
			</li>

			<li class="cv-item">
				<span class="topic">Ras:</span>
				Melayu
			</li>
			<li class="cv-item">
				<span class="topic">Warna Kulit:</span>
				Sawo Matang
			</li>
			<li class="cv-item">

				<span class="topic">Phone:</span>
				08138 919 7007 
			</li>
      <!-- <li class="cv-item">
        <span class="topic">Email:</span>
        <a href="mailto:jsmith@johnsmith.com">chacha@gmail.com</a>
      </li>
         -->
		</ul><!-- end .cv-section-items -->


    <div class="actions">
      <a href="#" class="action-button">edit</a>
    </div>
	</div><!-- end .cv-section -->
