<ul class="cv-section-items" id="personal-details">
  <li class="cv-item">
    <span class="topic">Nama:</span>
    <%= profile.name || "."%>
  </li>

  <li class="cv-item">
    <span class="topic">Ras:</span>
    <%= profile.race || "."%> 
  </li>
  <li class="cv-item">
    <span class="topic">Warna Kulit:</span>
    <%= profile.skin_color || "."%>
  </li>
  <li class="cv-item">
    <span class="topic">Phone:</span>
    <%= profile.phone_number || "." %>
  </li>
</ul><!-- end .cv-section-items -->