<div class="cv-section col-1 fixed" id="technical-skills">

	<h2 class="cv-section-name"> Technical Skills</h2>
	
	<ul class="cv-section-items">
		
		<li class="cv-item fixed"> 
		     
			<span class="level l-7">Extensive skillset</span>
			<div class="cv-item-content">	
				<span class="topic">Front-end Design</span>     
				Xhtml, Css 3.0, Javascript jQuery Framework
				
			</div>

				<div class="sub-actions">
          <a href="#" class="action-button">edit</a>
          <a href="#" class="action-button">delete</a>
        </div>
		</li>
		<li class="cv-item fixed"> 
		
			<span class="level l-6">Extensive skillset</span>
			<div class="cv-item-content">	
				<span class="topic">Back-end Development</span>         
				CodeIgniter web application framework, MySql Databases
		
			</div>	
			<div class="sub-actions">
        <a href="#" class="action-button">edit</a>
        <a href="#" class="action-button">delete</a>
      </div>
			
		</li>
		<li class="cv-item fixed"> 
		
			<span class="level l-4">Moderate skillset</span>

			<div class="cv-item-content">	
				<span class="topic">Adobe Photoshop</span>
				Produce layouts for web and print
	
        
			</div>
			<div class="sub-actions">
        <a href="#" class="action-button">edit</a>
        <a href="#" class="action-button">delete</a>
      </div>
				
		</li>
		<li class="cv-item fixed">
		
			<span class="level l-3">Minimal skillset</span>
			<div class="cv-item-content">	
				<span class="topic">Adobe Indesign</span>

				DTP - Preparation for print

			</div>
			<div class="sub-actions">
        <a href="#" class="action-button">edit</a>
        <a href="#" class="action-button">delete</a>
      </div>
			
		</li>
		<li class="cv-item fixed"> 
		
			<span class="level l-7">Extensive experience</span>
			<div class="cv-item-content">	
				<span class="topic">Windows OS</span> 
				Excelent platform knowledge and administrative capabilities

			</div>
			<div class="sub-actions">
        <a href="#" class="action-button">edit</a>
        <a href="#" class="action-button">delete</a>
      </div>
			
		</li>

		<li class="cv-item fixed"> 
		
			<span class="level l-4">Moderate experience</span>
			<div class="cv-item-content">	
				<span class="topic">Microsoft Office Suite</span>
				Edit documents in Word, Excel spreadsheets

			</div>
			<div class="sub-actions">
        <a href="#" class="action-button">edit</a>
        <a href="#" class="action-button">delete</a>
      </div>
			
		</li>
		
		<div class="actions">
      <a href="#" class="action-button">add</a>
    </div>
		
	</ul><!-- end .cv-section-items -->

</div><!-- end .cv-section -->

