<form action="#" class="uniForm hidden">
  <h2>Tambah Pengalaman Kerja</h2>
  <fieldset class="inlineLabels">
    <div class="ctrlHolder">
      <label for="">Text input</label>
      <input id="" name="" value="" size="35" class="textInput" type="text">
      <p class="formHint">This is a form hint.</p>
    </div>

    <div class="ctrlHolder">
      <label for="">Text input</label>
      <input id="" name="" value="" size="35" class="textInput" type="text">
      <p class="formHint">This is a form hint.</p>
    </div>

    <div class="ctrlHolder">
      <label for="">Text input</label>
      <input id="" name="" value="" size="35" class="textInput" type="text">
      <p class="formHint">This is a form hint.</p>
    </div>

    <div class="ctrlHolder">
      <label for="">Text input</label>
      <input id="" name="" value="" size="35" class="textInput" type="text">
      <p class="formHint">This is a form hint.</p>
    </div>

    <div class="ctrlHolder">
      <label for="">Text input</label>
      <input id="" name="" value="" size="35" class="textInput" type="text">
      <p class="formHint">This is a form hint.</p>
    </div>

    <div class="ctrlHolder">
      <label for="">Textarea</label>
      <textarea id="" name="" rows="25" cols="25"></textarea>
      <p class="formHint">This is a form hint.</p>
    </div>

    <div class="buttonHolder"><button type="submit" class="primaryAction">Submit</button></div>
  </fieldset>
</form>