<div id="footer" class="fixed">
	
	<div class="divider2"></div>
	
	<p id="copyright">&copy; 2010 John Smith. All rights reserved.</p>
	<a href="#" id="top">&#710; Top</a>
	
</div><!-- end #footer -->
