	<div class="cv-section col-1 fixed">
	
		<h2 class="cv-section-name">Personal Details</h2>

		
		<ul class="cv-section-items">
			
			<li class="cv-item">
				<span class="topic">Name:</span>         
				John Smith
			</li>
			<li class="cv-item">
				<span class="topic">Day of Birth:</span>
				1st July 1985
			</li>

			<li class="cv-item">
				<span class="topic">Nationality:</span>
				Citizen of Envato
			</li>
			<li class="cv-item">
				<span class="topic">Adress:</span>
				123 Make Believe, Some City, Some Country
			</li>
			<li class="cv-item">

				<span class="topic">Phone:</span>
				0000-1234-5678
			</li>
			<li class="cv-item">
				<span class="topic">Email:</span>
				<a href="mailto:jsmith@johnsmith.com">jsmith@johnsmith.com</a>
			</li>
				
		</ul><!-- end .cv-section-items -->

	</div><!-- end .cv-section -->
